{% load static %}
<!DOCTYPE html>
<html lang="en">
<title> Dialoge Film Society </title>
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="author" content="Hemang Mohan">

      <!-- bootstrapcdn -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <!-- external stylesheet -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">

      <!-- icon pack -->
      <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

      <!-- google font -->
      <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Overpass:100,300,400,700,800&display=swap" rel="stylesheet">
      <!-- jquery cdn -->
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

      <!-- tweenmax (greensock) cdn -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
</head>
<body>
  <div class="container-fluid">
  <header>
      <div class="shop-container">
            <!-- NAVIGATION STARTS -->

            <div class="nav">
                  <div class="menu-open">
                        <ion-icon name="menu"></ion-icon>
                  </div>
                  <div class="brand">
                    <span><a href="{% url 'home' %}"><b>Dialogue OTP</b></a></span>
                  </div>
                  <div class="logo">
                    <!-- <a href="{% url 'home' %}"><img src="{% static 'invento19/images/logo.png' %}" alt=""></a> -->
                  </div>
                  <div class="menu">
                        <div class="menu-close">
                              <ion-icon name="close"></ion-icon>
                        </div>
                        <ul>
                              <li><a href="{% url 'home' %}">Home</a></li>
                              <li><a href="{% url 'preevent' %}">Assosciated Events</a></li>
                              <li><a href="{% url 'regionalscreening' %}">Regional Screening</a></li>
                              <li><a class="dropdown-toggle" href="#">History</a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href=#>2016</a>
                                  <a class="dropdown-item" href=#>2017</a>
                                  <a class="dropdown-item" href=#>2018</a>
                                  <a class="dropdown-item" href=#>2019</a>
                                  <a class="dropdown-item" href=#>2020</a>
                                </div>
                              </li>
                              <li><a href="{% url 'diff6' %}">About US</a></li>
                        </ul>
                  </div>
            </div>
      </div>
    </header>

      {% block content %}
      {% endblock %}
      <!-- FOOTER STARTS -->

      <footer id="footer">
        <div class="container-fluid footer">
              <div class="section container">
                <div class="inner">
                  <div class="flex flex-3">
                    <div class="col">
                      <h3>Address</h3>
                      <ul class="alt">
                        <li>Dialogue Film Society</li>
                        <li>Ottapalam</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </div>
                    <div class="col">
                      <h3>Contact Us</h3>
                      <ul class="alt">
                        <li><b>Post</b></li>
                        <li>Name - <a href="#">0000000000</a></li>
                        <li><b>Post</b></li>
                        <li>Name - <a href="#">1111111111</a></li>
                        <li><b>Post</b></li>
                        <li>Name - <a href="#">2222222222</a></li>
                      </ul>
                    </div>
                    <div class="col">
                      <h3>Made with <i class="icon fa-heart" style="color:red"></i>	 at Dialogue Film Socity Ottapalam</h3>
                      <ul class="alt">
                        <!-- <li style="text-align:center">Found a bug or mistake? Whatsapp: <a href="https://api.whatsapp.com/send?phone=919447806863"><b>+919447806863</a></li> -->
                        <li style="text-align:center">© <a href="/"><b>DialogueOTP</b></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="copyright">
                  <!-- <ul class="icons">
                    <li><a href="https://twitter.com/inventogec" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://facebook.com/inventogec" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/inventogec/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                  </ul> -->
                </div>
              </div>
      </footer>
    </div>
      <!-- FOOTER ENDS -->

<!-- for Particle JS -->
<!-- <script src="{% static 'invento19/js/particles.js' %}"></script>
            <script src="{% static 'invento19/js/app1.js' %}"></script> -->


<script>
  $(document).ready(function(){
    $(".dropdown-toggle").on( "click", function() {
      if($(".dropdown-menu").is(":hidden")) {
        $(".dropdown-menu").css("display", "block");
      } else {
        $(".dropdown-menu").css("display", "none");
      }
    });
});
</script>
<script>


//Toggle MENU

var t1 = new TimelineMax({paused: true});
t1.to(".menu", 0.5, {
      left: "0%",
      ease: Power2.easeInOut
});

t1.reverse();
$(document).on("click", ".menu-open", function() {
      t1.reversed(!t1.reversed());
});
$(document).on("click", ".menu-close", function() {
      t1.reversed(!t1.reversed());
});
</script>
</body>
</html>
