{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <img class="BannerDIFF" style="width: 100%; height: 600px; z-index:2" src="{% static 'images/logo.jpg' %}" alt="">
  <div style="margin-bottom:1cm;">
    <center>
    <button style="z-index:6 object-position: center bottom">
    <span>Grab You Tickets</span>
    <div class="liquid"></div>
    </button>
    </center>
  </div>
</section>

<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/smoothscroll/smooth-scroll.js"></script>
<script src="assets/ytplayer/index.js"></script>
<script src="assets/theme/js/script.js"></script>
{% endblock %}
