{% extends 'base.html' %}
{% load static %}
{% block content %}
<section style="display:Grid;">
  <img class="BannerDIFF center" src="{% static 'images/logo_sponsors.jpeg' %}" width="800" height="500" alt="">
  <div style="margin-bottom:1cm;">
    <center>
      <button style="z-index:6 object-position: center bottom">
        <a href="https://www.townscript.com/e/6th-dialogue-international-film-festival-april-2022-124200">
          <span> Tickets </span>
          <div class="liquid"></div>
        </a>
      </button>
    </center>
  </div>
</section>

<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/smoothscroll/smooth-scroll.js"></script>
<script src="assets/ytplayer/index.js"></script>
<script src="assets/theme/js/script.js"></script>
{% endblock %}
<!-- style="width: 100%; height: 600px; z-index:2"  -->
