{% extends "base.html" %}
{% load static %}
{% block content %}

<p id="heading">Assosciated Events</p>
<!-- COLLECTION STARTS -->
    <div>
      {% for item in events %}
      <div id="containercard">
        <div class="product-details">
          <h1>{{ item.title }}</h1>
          <p class="information">{{ item.description }}</p>
          {% if item.registerurl %}
          <div class="control">
            <button class="btn" onclick="{{item.registerurl}}">
              <span class="buy">Register Now</span>
            </button>
          </div>
          {% endif %}
        </div>
        <div class="product-image">
          <img src="{{item.posterurl}}" alt="">
          <div class="info">
            <h2 style="color:#fff"> Sample</h2>
            <p style="padding-left:15px">Sample information<p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
